.radar {
  background-color: #282d30;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) and (min-height: 768px) and (max-width: 1320px) and (max-height: 1080px) {
  .radar {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 1332px), (min-height: 1015px) {
  .radar {
    width: 260px;
    height: 260px;
  }
}
