.radial-container {
  height: 200px;
  width: 200px;
  position: relative;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radial {
  background-color: #fbfbfb;
}

.radial-text {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  text-align: center;
}

.percent {
  font-weight: bold;
}
@media screen and (min-width: 1024px) and (min-height: 768px) and (max-width: 1320px) and (max-height: 1080px) {
  .radial-container {
    width: 160px;
    height: 160px;
  }
}
